<!DOCTYPE html>
<html>
    <head>
        <title>AutoQuest</title>
        <link rel="stylesheet" href="stylesheets/landing.css">
    </head>
    <body>
       <div class="header">
  <a href="#default" class="logo">Auto<strong>Quest</strong></a>
  <div class="header-right">
    <a href="#contact">Contact</a>
    <a href="#about">About</a>
  </div>
</div>