<!DOCTYPE html>
<html>
    <head>
        <title>AutoQuest</title>
        <link rel="stylesheet" href="stylesheets/landing.css">
        <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Josefin+Sans" rel="stylesheet">
        <script type="text/javascript" src="js/intro.js"></script>
    </head>
    <body>
       <div class="header">
  <a href="/" class="logo">Auto<strong>Quest</strong></a>
  <div class="header-right">
    <a href="#contact">Contact</a>
    <a href="#about">About</a>
  </div>
</div>