<% include partials/header %>

<header>
  <section class="header-content">
    <h1 class="header-title animate-pop-in">Welcome to Auto<strong>Quest</strong></h1>
    <p class="read-more animate-pop-in">An Intelligent Question Paper Generator System which generates Question Paper in Portable Document Format(PDF) and Docx Format.<span id="dots">...</span><span id="more">In this system we present a smart question paper generating system. In our system we allow administrator to input a set of questions and respective answers for option ticking. We also allow admin to provide weight age and complexity for each of these questions. After this the questions are stored in database along with their weight age. Now on question paper generating time the admin just has to select the percentage of difficulty. On this selection the system selects questions randomly in a way that their weight age makes up for 100 marks and according to difficulty that admin chooses the questions are chosen based on their complexity level. After this q paper is converted to pdf file and emailed to colleges on button click.</span></p>
<button onclick="myFunction()" id="myBtn" class="header-button animate-pop-in">Read more</button>
    <p>
        <button class="header-button animate-pop-in">Login</button>
        <button class="header-button animate-pop-in">Sign Up</button>
    </p>
  </section>
</header>


<% include partials/footer %>
