<% include partials/header %>

<head>
  <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Josefin+Sans" rel="stylesheet">
</head>
<header>
  <section class="header-content">
    <h1 class="header-title animate-pop-in">AutoQuest</h1>
    <h3 class="header-subtitle animate-pop-in">An  Automatic  Question  Paper   Generator  System</h3>
    <p>
        <a href="/intro"><button class="header-button animate-pop-in">Get Started</button></a>
    </p>
  </section>
</header>
<% include partials/footer %>
