
<!DOCTYPE html>
<html lang="en">
   <head>
      <title>AutoQuest Sign up & login Form </title>
      <!-- Meta tags -->
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <script>
         addEventListener("load", function () { setTimeout(hideURLbar, 0); }, false); function hideURLbar() { window.scrollTo(0, 1); }
      </script>
      <!-- Meta tags -->
      <!--stylesheets-->
      <link href="stylesheets/login.css" rel='stylesheet' type='text/css' media="all">
      <!--//style sheet end here-->
      <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
   </head>
   <body>
      <div class="mid-class">
         <div class="art-right-grids">
            <h2>Sign In and Sign Up</h2>
            <form action="#" method="post">
               <div class="main">
                  <div class="form-left-to-mids">
                     <input type="text" name="name" placeholder="Username" required="">
                  </div>
                  <div class="form-left-to-mids ">
                     <input type="password" name="password" placeholder="Password" required="">
                     <div class="clear"></div>
                  </div>
               </div>
               <div class="left-side-forget">
                  <input type="checkbox" class="checked">
                  <span class="remenber-me">Remember me </span>
               </div>
               <div class="right-side-forget">
                  <a href="#" class="for">Forgot password...?</a>
               </div>
               <div class="clear"></div>
               <div class="btnn">
                  <button type="submit">Sign In</button>
               </div>
            </form>
            <div class="lay_more-buttn">
               <h3>Don't Have an account..?
                  <a href="#content1">Sign Up Here
                  </a>
               </h3>
            </div>
            <!-- popup-->
            <div id="content1" class="popup-effect">
               <div class="popup">
                  <!--login form-->
                  <div class="letter-grids">
                     <form action="#" method="post">
                        <div class="form-left-to-mids">
                           <input type="text" name="name" placeholder="Username" required="">
                        </div>
                        <div class="form-left-to-mids">
                           <input type="text" name="name" placeholder="Phone" required="">
                        </div>
                        <div class="form-left-to-mids">
                           <input type="email" name="email" placeholder="Email" required="">
                        </div>
                        <div class="form-left-to-mids">
                           <input type="password" name="password" placeholder="Password" required="">
                        </div>
                        <div class="form-left-to-mids margin-zero">
                           <input type="password" name="password" placeholder="Confirm Password" required="">
                        </div>
                        <div class="btnn">
                           <button type="submit">Sign Up</button>
                           <br>
                        </div>
                     </form>
                     <div class="clear"></div>
                  </div>
                  <!--//login form-->
                  <a class="close" href="#">&times;</a>
               </div>
            </div>
            <!-- //popup -->
         </div>
         <div class="art-left-grids">
            <h1 class="header-grids">
               AutoQuest
            </h1>
            <h1 class="header-grids">Login/SignUp Form</h1>
         </div>
      </div>
      <footer class="bottem-tree-footer">
         <p>
            © 2019 AutoQuest Sign Up & Login Form. All Rights Reserved.
         </p>
      </footer>
   </body>
</html>