<h1>Sign Up</h1>

<form action="/register" method="POST">
    <input type="email" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button>Submit</button>
</form>